table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  background-color: #557A95;
  color: white;
}

th,
td {
  width: auto;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

h2 {
  color: #4287f5;
}